@model HMO.DTO.DetailsMemberDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details Member</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityCard)
        </dd>
        <dt class = "col-sm-2">
            Adress
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ACity) , @Html.DisplayFor(model => model.AStreet)  @Html.DisplayFor(model => model.ANumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MemberId">Edit</a> |
    <a asp-action="Index">Back to Members List</a>
</div>
