@model IEnumerable<HMO.DTO.VaccinationDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Covid-19 Vaccines</h1>
<hr/>
<p>
    <a asp-action="Create">Add Vaccination</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateVaccine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerVaccine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberIdentityCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccinationCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateVaccine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerVaccine)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.MemberIdentityCard)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaccinationCount)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VaccineId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.VaccineId">Delete</a> |
                <a asp-controller="Members" asp-action="Details" asp-route-id="@item.MemberId">Member details</a> 

            </td>
        </tr>
}
    </tbody>
</table>
