@model HMO.Models.CoronaVirus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoronaVirus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePositiveResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePositiveResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRecovery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRecovery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.ACity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VirusId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
