@model IEnumerable<HMO.DTO.VirusDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Covid-19 Sicks</h1>
<hr/>
<p>
    <a asp-action="Create">New Sick</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberIdentityCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePositiveResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRecovery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberIdentityCard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePositiveResult)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRecovery)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.VirusId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.VirusId">Delete</a> |
                <a asp-controller="Members" asp-action="Details" asp-route-id="@item.MemberId">Member details</a>
        </tr>
}
    </tbody>
</table>
